.cursor/
.cursor-server/
.vscode/
.vscode-server/
.local/

.ssh/
.cache/
.bash_history
.bash_logout
.bashrc
.profile
.wget-hsts

hip_programming_contest/apsp/apsp
hip_programming_contest/prefix_sum/prefix_sum
hip_programming_contest/softmax/softmax

**/.previous_versions/
**/.history/
**/my_outputs/
*student.out
**/results.*
references/
**/testcases/

*.log

hip_programming_contest/apsp-old-backup/
hip_programming_contest/prefix_sum/testcases/2.in
hip_programming_contest/prefix_sum/testcases/2.out
